{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="center table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in user_stocks %}
                <tr>
                    <th scope="row">{{ stock.stock }}</th>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd}}</td>
                    <td>{{ stock.tot_value | usd}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-3">
        <p>Cash balance : {{ cash | usd}}</p>
    </div>
    <div class="mb-3">
        <p>Total value : {{ total_val | usd}}</p>
    </div>

{% endblock %}