{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="center table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ symbol }}</th>
                    <td>{{ name }}</td>
                    <td>{{ price | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
